<div class="w-100">
  <div class="card text-start">
    <div class="card-body">
      <div class="d-flex justify-content-start flex-row-reverse   align-items-center p-2">
        <a mat-raised-button color="warn" type="button" routerLink="/alumnos/lista" class="align-items-center float-end"> <i class="fa-solid fa-arrow-left"></i> </a>
        <h4 class="card-title me-2 text-center m-auto w-100">Registro Nuevo Alumno</h4>
      </div>
      <hr>

      <form [formGroup]="formAlumno" (ngSubmit)="onSaveAlumno()">

        <div class="row">
          <small class="text-start mb-2 fw-bold">Informacion Personal</small>

          <div class="col-12 col-md-6 mb-3">
            <mat-form-field class="w-100 example-full-width">
              <mat-label>Nombres</mat-label>
              <input matInput
              id="nombres"
            name="nombres"
            formControlName="nombres">
            </mat-form-field>
          </div>


          <div class="col-12 col-md-6 mb-3">

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Apellidos</mat-label>
              <input matInput
              type="text"

            id="apellidos"
            name="apellidos"
            formControlName="apellidos">
            </mat-form-field>


          </div>
          <div class="col-12 col-md-6 mb-3">

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Correo</mat-label>
              <input matInput
              type="email"
              id="Correo"
              name="correo"
              formControlName="correo">
            </mat-form-field>


          </div>



          <small class="text-start mb-2 fw-bold">Documento Identidad</small>
          <div class="col-12 col-md-6 mb-3">

            <mat-form-field appearance="fill" class="w-100" >
              <mat-label>Tipo Documento</mat-label>
              <mat-select

                name="tipoDocumento"
                formControlName="tipoDocumento">
                <mat-option  value='CC'>CC : CEDULA DE CUIDADANIA.</mat-option>
                <mat-option  value='TI'>TI : TARJETA DE IDENTIDAD. </mat-option>
                <mat-option  value='RC'>RC : REGISTRO CIVIL. </mat-option>


              </mat-select>
            </mat-form-field>

            <!-- <label for="tipoDocumento" class="form-label">Tipo Documento</label>
            <select id="tipoDocumento" class="form-select" aria-label="Default select example"
            name="tipoDocumento"
            formControlName="tipoDocumento">
              <option selected>SELECCIONE EL TIPO DE DOCUMENTO</option>
              <option ngValue="CC" >CC : CEDULA DE CUIDADANIA.</option>
              <option value="TI">TI : TARJETA DE IDENTIDAD.</option>
              <option value="RC">RC : REGISTRO CIVIL.</option>
            </select> -->
          </div>
          <div class="col-12 col-md-6 mb-3">
            <!-- <label for="numeroDocumento" class="form-label">Numero Documento</label>
            <input type="number" class="form-control" id="numeroDocumento"
            name="numeroDocumento"
            formControlName="numeroDocumento"> -->

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Numero Documento</mat-label>
              <input matInput
              type="number"
              id="numeroDocumento"
            name="numeroDocumento"
            formControlName="numeroDocumento">
            </mat-form-field>
          </div>


          <small class="text-start mb-2 fw-bold">Datos Nacimiento</small>
          <div class="col-12 col-md-6 mb-3">


            <mat-form-field appearance="fill" class="w-100" >
              <mat-label>Genero</mat-label>
              <mat-select
                id="genero"
                name="genero"
                formControlName="genero">
                <mat-option  value='M'>MASCULINO</mat-option>
                <mat-option  value='F'>FEMENINO</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <label for="genero" class="form-label">Genero</label>
            <select id="genero" class="form-select" aria-label="Default select example"
            name="genero"
            formControlName="genero">
              <option selected>SELECCIONE UN GENERO</option>
              <option value="M">MASCULINO</option>
              <option value="F">FEMENINO</option>
            </select> -->

          </div>
          <div class="col-12 col-md-6 mb-3">

            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Fecha Nacimiento.</mat-label>
              <input matInput [matDatepicker]="picker"
              id="fechaNacimiento"
            name="fechaNacimiento"
            formControlName="fechaNacimiento"
              >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- <label for="fechaNacimiento" class="form-label">Fecha Nacimiento.</label>
            <input type="date" class="form-control" id="fechaNacimiento"
            name="fechaNacimiento"
            formControlName="fechaNacimiento"> -->
          </div>

          <div class="col-12 col-md-6 mb-3">

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Departamento de Nacimiento.</mat-label>
              <input matInput
              type="text"
              id="departamentoNacimiento"
              name="departamentoNacimiento"
              formControlName="departamentoNacimiento">
            </mat-form-field>

            <!-- <label for="departamentoNacimiento" class="form-label">Departamento de Nacimiento.</label>
            <input type="text" class="form-control" id="departamentoNacimiento"
            name="departamentoNacimiento"
            formControlName="departamentoNacimiento"> -->
          </div>

          <div class="col-12 col-md-6 mb-3">

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Cuidad de Nacimiento.</mat-label>
              <input matInput
              type="text"
              id="ciudadNacimiento"
            name="ciudadNacimiento"
            formControlName="ciudadNacimiento">
            </mat-form-field>

            <!-- <label for="ciudadNacimiento" class="form-label">Cuidad de Nacimiento.</label>
            <input type="text" class="form-control" id="ciudadNacimiento"
            name="ciudadNacimiento"
            formControlName="ciudadNacimiento"> -->
          </div>

          <small class="text-start mb-2 fw-bold">Direccion Residencia</small>

          <div class="col-12 col-md-6 mb-3">


            <mat-form-field class="w-100 example-full-width">
              <mat-label>Direccion</mat-label>
              <input matInput
              type="text"
              id="direccion"
            name="direccionResidencia"
            formControlName="direccionResidencia">
            </mat-form-field>

            <!-- <label for="direccion" class="form-label">Direccion.</label>
            <input type="text" class="form-control" id="direccion"
            name="direccionResidencia"
            formControlName="direccionResidencia"> -->
          </div>

          <div class="col-12 col-md-6 mb-3">

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Direccion</mat-label>
              <input matInput
              type="text"
              id="barrio"
            name="barrioResidencia"
            formControlName="barrioResidencia">
            </mat-form-field>

            <!-- <label for="barrio" class="form-label">Barrio.</label>
            <input type="text" class="form-control" id="barrio"
            name="barrioResidencia"
            formControlName="barrioResidencia"> -->
          </div>

          <div class="col-12 col-md-6 mb-3">

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Telefono</mat-label>
              <input matInput
              type="number"
              id="telefono"
            name="telefono"
            formControlName="telefono">
            </mat-form-field>

            <!-- <label for="telefono" class="form-label">Telono.</label>
            <input type="number" class="form-control" id="telefono"
            name="telefono"
            formControlName="telefono"> -->
          </div>

          <div class="col-12 mb-3 text-center">
            <button type="submit" mat-raised-button color="primary">Primary</button>
            <!-- <input  mat-raised-button  color="primary" type="submit" > -->
          </div>



        </div>





      </form>


      {{ formAlumno.value | json }}
    </div>
  </div>
</div>
