<div class="w-100">
  <div class="card text-start">
    <div class="card-body">
      <div
        class="d-flex justify-content-start flex-row-reverse align-items-center p-2"
      >
        <a
          type="button"
          [routerLink]="['/alumnos/editar', alumnoId, 'acudientes']"
          routerLinkActive="router-link-active"
          mat-raised-button color="warn"
        >
          <i class="fa-solid fa-chevron-left"></i
        ></a>
        <h4 class="card-title me-2 text-center m-auto w-100">
          Actualizando Acudiente
        </h4>
      </div>
      <hr />
      <form action="" (ngSubmit)="onUpdateAcudiente()">
        <div class="row align-items-end">
          <div class="col-12 col-md-6 mb-3">

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Nombres</mat-label>
              <input matInput
              id="nombres"
              name="nombres"
              [(ngModel)]="acudienteInser.nombres">
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 mb-3">

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Apellidos</mat-label>
              <input matInput
              id="apellidos"
              name="apellidos"
              [(ngModel)]="acudienteInser.apellidos">
            </mat-form-field>

          </div>

          <div class="col-12 mb-3">


            <mat-form-field class="w-100 example-full-width">
              <mat-label>Correo</mat-label>
              <input matInput
              id="correo"
              name="correo"
              [(ngModel)]="acudienteInser.correo">
            </mat-form-field>

          </div>

          <div class="col-12 col-md-6 mb-3">



            <mat-form-field appearance="fill" class="w-100" >
              <mat-label>Tipo Documento</mat-label>
              <mat-select
                id="tipoDocumento"
                name="tipoDocumento"
                [(ngModel)]="acudienteInser.tipoDocumento">
                <mat-option  value='CC'>CC : CEDULA DE CUIDADANIA.</mat-option>
                <mat-option  value='TI'>TI : TARJETA DE IDENTIDAD. </mat-option>
                <mat-option  value='RC'>RC : REGISTRO CIVIL. </mat-option>


              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-12 col-md-6 mb-3">

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Numero Documento</mat-label>
              <input matInput
                type="number"
                id="numeroDocumento"
                name="numeroDocumento"
                [(ngModel)]="acudienteInser.numeroDocumento">
            </mat-form-field>


          </div>

          <div class="col-12 col-md-6 mb-3">

            <mat-form-field class="w-100 example-full-width">
              <mat-label>Numero Documento</mat-label>
              <input matInput
                type="text"
                id="parentesco"
                name="parentesco"
              [(ngModel)]="acudienteInser.parentesco">
            </mat-form-field>

          </div>

          <div class="col-12 col-md-6 mb-3">


            <mat-form-field class="w-100 example-full-width">
              <mat-label>Telefono</mat-label>
              <input matInput
                type="number"
                id="telefono"
                name="telefono"
              [(ngModel)]="acudienteInser.telefono">
            </mat-form-field>

          </div>

          <div class="col-12 col-md-6 mb-3">

            <div class="form-check form-switch">

              <mat-checkbox class="example-margin"
              color="primary"
              id="esPrincipal"
              name="esPrincipal"
              [(ngModel)]="acudienteInser.esPrincipal">
              es Principal?
              </mat-checkbox>

            </div>

          </div>

          <div class="col-12  mb-3">

            <button mat-raised-button color="primary" type="submit">Actualizar Acudiente</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
